.partners {
  &__slogan {
    font-size: 14px;
    font-weight: 700;
    color: $main-color;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }

  &__box {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $breakpoint-xxl) {
      padding: 0 100px;
      border-radius: $radius-md;
      margin-bottom: 60px;
    }

    &-item {
      @media screen and (min-width: $breakpoint-md) {
        width: 33.33%;
      }

      @media screen and (min-width: $breakpoint-lg) {
        width: 25%;
      }

      &__link {
        height: 120px;
        padding: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease, background-color 0.3s ease;

        img {
          max-height: 100%;
          width: auto;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
