.tabs {
  padding: 30px 0;
  @media screen and (min-width: $breakpoint-lg) {
    display: flex;
    padding: 60px 0;
  }

  &__list {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color: #b3b3ba;
    overflow: auto;
    margin-right: -30px;
    margin-bottom: 60px;

    @media screen and (min-width: $breakpoint-md) {
      font-size: 38px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      width: 50%;
      flex-direction: column;
      text-align: right;
      padding-right: 60px;
      margin-right: 0;
      justify-content: center;
      margin-bottom: 0;
    }
  }
  &__link {
    flex-shrink: 0;
    margin-right: 30px;

    &.active {
      @include text-grad;
    }
  }

  .tabs__content {
    border: solid #ffffff4d;
    border-width: 4px 0 0 0;

    @media screen and (min-width: $breakpoint-lg) {
      width: 50%;
      border-width: 0 0 0 4px;
      padding-left: 60px;
      display: flex;
      align-items: center;
    }
  }

  &__content-text {
    padding-top: 60px;
    max-width: 580px;

    @media screen and (min-width: $breakpoint-lg) {
      padding-top: 0;
    }

    &:not(.active) {
      display: none;
    }
  }
}
