:root {
  $main-color: #323264;
  $second-color: #46466e;
  $mute-color: #686887;
  $main-text-color: #000000;
  $accent-color: #f0145a;
  $regular-color: #24a3ff;
  $hover-color: #0085ff;
  $active-color: #006ccf;
  $bg-color: #f5f5fa;
  $bg-alt-color: #ededf7;
  $text-color: #b3b3ba;
  $basic-white: #ffffff;
  $separator-color: #e6e6f0;
  $gradient: linear-gradient(
    128.63deg,
    #323264 0%,
    #323264 73.96%,
    #a54b5f 100%
  );
  $gradient-soft: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  $gradient-red: linear-gradient(323.35deg, #f0145a 6.7%, #693264 70.36%);
  $gradient-supersoft: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  $gradient-red-text: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);

  //   --second-text-color: rgba(235, 235, 245, 0.6);
  //   --hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  //   --brand-color: #646cff;
  //   --brand-light-color: #747bff;
}
// [data-theme="light"] {
//   --main-color: rgba(255, 255, 245, 0.86);
//   --second-color: #fff;
//   --mute-color: rgba(235, 235, 245, 0.6);
//   --main-text-color: #161618;
//   --second-text-color: #1e1e20;
// }
